<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<nav>
    <div class="banner">
        <h1>{{bannerTitle}}</h1>
    </div>
    <div class="navbar-wrapper">
        <div class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/help">Help</a></li>
            </ul>
        </div>
    </div>
</nav>